/******************************/
/* Color Variables */
/******************************/

:root {
  --main_blue: #0a76db;
  --darker_blue: #0d3f8a;
  --dark_blue: #223554;
}

/******************************/
/* Global Reset */
/******************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************/
/* HTML & Body Styles */
/******************************/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  min-width: 375px;
}

/******************************/
/* Website Containers */
/******************************/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

/******************************/
/* General Reusable Classes */
/******************************/

/* Buttons */

.btn {
  text-decoration: none;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 100px;
  transition-duration: 200ms;
}

.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 8px;
}

.btn--primary {
  background-color: var(--main_blue);
  color: #ffffff;
}

.btn--primary:hover {
  background-color: var(--darker_blue);
}

.btn--secondary {
  background-color: #ffffff;
  color: var(--dark_blue);
}

.btn--secondary:hover {
  background-color: var(--darker_blue);
  color: #ffffff;
}

/******************************/
/* Header & Navigation */
/******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-height {
  height: 60px;
}

.logo {
  height: 32px;
}

.nav-list {
  display: flex;
  gap: 18px;
}

.nav-list li {
  list-style: none;
}

/* For Links With Icons */
.nav-link {
  display: flex;
  align-items: center;
  gap: 3px;
  transition-duration: 200ms;
}

.nav-link a,
.nav-cta a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.nav-link a {
  color: var(--dark_blue);
}

.nav-link a:hover {
  color: var(--main_blue);
}

.nav-link ion-icon {
  color: var(--main_blue);
  font-size: 20px;
  transition: inherit;
}

.nav-link:hover ion-icon {
  transform: rotate(-180deg);
}

.nav-cta a {
  background-color: var(--main_blue);
  color: #eeeeee;
  padding: 8px 24px;
  border-radius: 100px;
  transition-duration: 400ms;
}

.nav-cta a:hover {
  background-color: var(--darker_blue);
}

/* Dropdowns */

.dropdown-menu {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  padding: 20px 0;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 60px;
  border-top: 1px solid rgba(149, 157, 165, 0.5);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-duration: 300ms;
}

.nav-list li:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.overview {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
}

.overview ion-icon {
  color: var(--main_blue);
  transition-duration: 200ms;
}

.overview:hover ion-icon {
  transform: translateX(3px);
}

.dropdown-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--dark_blue);
  transition-duration: 200ms;
}

.dropdown-menu a:hover {
  color: var(--main_blue);
}

.overview a {
  font-size: 22px;
  font-weight: 600;
}

.dropdown-links {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  row-gap: 20px;
  border-top: 1px solid rgba(149, 157, 165, 0.5);
  padding-top: 20px;
}

.dropdown-services .dropdown-links {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
}

.dropdown-work .dropdown-links {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
}

.dropdown-products .dropdown-links {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
}

.dropdown-inside-arbisoft .dropdown-links {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
}

.dropdown-careers .dropdown-links {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
}

/******************************/
/* Hero Slider */
/******************************/

.swiper-main {
  width: 100vw;
  height: calc(100vh - 60px);
}

.swiper-btn-main {
  color: #ffffff;
}

.slide-main {
  background-size: cover;
  background-position: center;
}

.slide-main1 {
  background-image: url("../img/hero-slider/1.jpeg");
}

.slide-main2 {
  background-image: url("../img/hero-slider/2.jpeg");
}

.slide-main3 {
  background-image: url("../img/hero-slider/3.jpeg");
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-container-items {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-container-items h1,
.hero-container-items p {
  color: #ffffff;
}

.hero-container-items h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.15;
}

.hero-container-items p {
  font-size: 24px;
}

.hero-btns {
  margin-top: 12px;
  display: flex;
  gap: 24px;
}

/******************************/
/* Achievements Section */
/******************************/

.section-achievements {
  margin-top: 60px;
}

.achievements-heading {
  text-align: center;
  margin-bottom: 60px;
}

.achievements-heading h2 {
  font-weight: 500;
  font-size: 58px;
  color: var(--dark_blue);
}

.achievements-heading h2 span {
  color: var(--main_blue);
}

.achievements-divider {
  background-color: rgba(136, 136, 136, 0.36);
  width: 1px;
}

.achievements {
  display: flex;
  justify-content: space-between;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--dark_blue);
}

.achievement .journey-block {
  font-size: 40px;
  margin-top: 16px;
}

.achievement p {
  font-size: 18px;
}

/******************************/
/* People Section */
/******************************/

.section-people {
  margin-top: 180px;
  margin-bottom: 180px;
}

.section-people div {
  display: flex;
}

.section-people div img {
  width: 560px;
  filter: brightness(75%);
  border-radius: 10px;
  z-index: 1;
}

.section-people div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #eee;
  border-radius: 10px;
  padding: 0 56px 0 112px;
  transform: scale(1.25);
  color: var(--dark_blue);
}

.section-people h2 {
  font-size: 40px;
  font-weight: 500;
}

.section-people .btn {
  width: fit-content;
  font-size: 14px;
  margin-top: 16px;
}
